*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: 209;
  --secondary-color: 201;
  --tertiary-color: 240;
  --wrong-color: 0;
  --correct-color: 120;
  --bg-color: black;
  --main-font: "Roboto", sans-serif;
  --main-font-size: 16px;
  --main-line-height: 1.5;
}

body {
  --hue: var(--main-color);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 100%, 50%);
}

body.correct {
  background-color: hsl(var(--correct-color), 100%, 50%);
}

body.wrong {
  background-color: hsl(var(--wrong-color), 70%, 50%);
}

.container {
  background-color: white;
  padding: 12rem;
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px;
  font-size: 4rem;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--main-color);
  background-color: hsl(var(--hue), 100%, 10%);
  color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

.btn:hover {
  background-color: hsl(var(--hue), 100%, 60%);
  color: black;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

#start,
#next {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.hide {
  display: none;
}
